# Base path API internal yang digunakan frontend (untuk Proxy / Rewrite)
NEXT_PUBLIC_API_URL=/api/v1

# Nama aplikasi (opsional jika digunakan pada Header/Title)
NEXT_PUBLIC_APP_NAME="KitaJaga"

# URL Backend Target (Digunakan oleh proxy server lokal / Railway)
# Ganti localhost:5000 jika dijalankan menggunakan Docker / Backend lokal
BASE_URL_API="http://localhost:5000/api/v1/"

# [Feature Flagging] Aktifkan mode Mock Data (Development Only)
# Ubah ke "true" jika backend sedang mati/maintenance dan Anda ingin melihat UI dengan dummy data
NEXT_PUBLIC_USE_MOCK_DATA="true"